<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Sleep Tracker</title>
    <meta name="description" content="A sleep tracker to track your sleeping-hours">
    <link id="favicon" rel="icon" href="https://glitch.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <h1>Sleep Tracker</h1>
      <h2>What are you doing? :)</h2>
    </header>

    <main>
      <div id="action-buttons">
        <button id="sleeping">
          Sleeping
        </button>
        <button id="waking-up">
          Waking up
        </button>
      </div>
      <p>
        <a href="/logoff">Logoff</a>  
      </p>
    </main>
    
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/app.js"></script>   
    <script src="https://button.glitch.me/button.js" data-style="glitch"></script>
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
  </body>
</html>
