<h2>
  Add your Google Sheet  
</h2>
<form action="/submitsheet" method="POST">
  Sheet ID:<br>
  <input type="text" name="sheetid" value=""><br>
  <input type="submit" value="Submit">
</form> 
 <p>
    <a href="/logoff">Logoff</a>  
</p>
<script src="https://button.glitch.me/button.js" data-style="glitch"></script>
<div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>